{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<h1>Creating a New Page</h1>

<form id="formm" action="{% url 'cnp' %}" method="post">
    {% csrf_token %}
    <input id="title" name="filename" placeholder="Title"/><br>
    {% if message %}
    <div class="text-danger">{{message}}</div>
    {% endif %}
    <div class="form-group">
        Body
        {% if body %}
        <textarea name='body' id="bodyy" class="form-control" rows="17">{{body}}</textarea>
        {% else %}
        <textarea name='body' id="bodyy" class="form-control" rows="17"></textarea>
        {% endif %}
      </div>
    
    <button id="submit" type="submit"> Save </button>
</form>

{% endblock %}