{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<h1>Creating a New Page</h1>

<form id="formm" action="{% url 'cnp' %}" method="post">
    {% csrf_token %}
    <input id="title" name="filename" placeholder="Title"/><br>
    {% if message %}
    <div class="text-danger">{{message}}</div>
    {% endif %}
    <div class="form-group">
        Body
        {% if body %}
        <textarea name='body' id="bodyy" class="form-control" rows="17">{{body}}</textarea>
        {% else %}
        <textarea name='body' id="bodyy" class="form-control" rows="17"></textarea>
        {% endif %}
      </div>
    
    <button id="submitbuttonsearch" disabled type="submit"> Save </button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const title= document.getElementById("title")
        const submitt= document.getElementById("submitbuttonsearch")
             title.addEventListener('keyup',(e)=>{
                 const value= e.currentTarget.value;
                 let result= value.trim();
                 if ( result == "" ){
                     submitt.disabled=true;
                 }else{
                     submitt.disabled=false;
                 }
             });
            });      
</script>

{% endblock %}