{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<h1>Edit Page</h1>

<form id="formm" action="{% url 'edit' y='{{title}}' %}" method="post">
    {% csrf_token %}
    <input name="old_title" type="hidden" value="{{title}}"/>
    <input id="title" name="filename" placeholder={{title}} value="{{title}}"/><br>
    <div class="form-group">
         Body
        <textarea name='body' id="bodyy" class="form-control" rows="17">{{text}}</textarea>
    </div>
    <button id="submit" type="submit"> Save </button>
</form>



{% endblock %}